#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

#about {
    background-color: violet;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 10%;
}


#service {
    background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 50%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

footer {
  text-align: center;
  padding: 1em 0;
  clear: both;
}








