body {
	background-color: #050580;
    color:#e7e7e7;
    font-weight:100;
    font-size:18px;  /* 1em = 16px */
    margin:0;
}

header{
    font-family:sans-serif;
    text-align:center;
    padding:40px 0; 
}

h1 {
    font-size:2em;
    margin:0 0 .55em;
    letter-spacing:.35em;
}

h2{
    font-weight:100;
    font-size:1.5em;
    letter-spacing:.1em;
    font-style:italic;
    margin:0;
    padding: .8em 0;

}

h1, h2 {
  text-transform: uppercase;
  border-bottom: 4px solid black;
  display: inline-block;
}

img {
    display:block;
    margin: 0 auto;
}

.body{
    background:black;
    width:600px;
    padding:50px 100px;
    margin: 50px auto;
    
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer {
  text-align: center;
  padding: 1em 0;
}








